.blackGradient {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#070707+0,3b3b3b+100 */
background: rgb(7,7,7); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(7,7,7,1) 0%, rgba(59,59,59,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(7,7,7,1) 0%,rgba(59,59,59,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(7,7,7,1) 0%,rgba(59,59,59,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#070707', endColorstr='#3b3b3b',GradientType=0 ); /* IE6-9 */

}
.blackGradient2 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#050505+0,2b2b2b+50,2b2b2b+50,050505+100 */
background: rgb(5,5,5); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(5,5,5,1) 0%, rgba(43,43,43,1) 50%, rgba(43,43,43,1) 50%, rgba(5,5,5,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(5,5,5,1) 0%,rgba(43,43,43,1) 50%,rgba(43,43,43,1) 50%,rgba(5,5,5,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(5,5,5,1) 0%,rgba(43,43,43,1) 50%,rgba(43,43,43,1) 50%,rgba(5,5,5,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050505', endColorstr='#050505',GradientType=0 ); /* IE6-9 */

}
.dropdown-link {
	color: white;
}
html, body {
	width: 100%;
	height: 100%;
}
.navbar {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b3b3b+0,070707+99 */
background: rgb(59,59,59); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(59,59,59,1) 0%, rgba(7,7,7,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(59,59,59,1) 0%,rgba(7,7,7,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(59,59,59,1) 0%,rgba(7,7,7,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#070707',GradientType=0 ); /* IE6-9 */

}

p {
	font-family: 'Nunito', sans-serif;
}
.navbar {
	min-width: 300px;
}
.copyright {
	margin-top: 15px;
}
.secondaryHeader {
	color: rgb(240, 240, 240);
	font-size: 28px;
	text-align: center;
	line-height: 32px;
	font-family: 'Oswald', sans-serif;
}

.homeLogo {
	width: 90%;
	max-width: 600px;
	margin: auto;
	margin-top: 100px;
	background-color: rgba(10, 10, 10, 0.5);
	padding: 8px;
	border-radius: 5px;
}
.altImage {
	width: 220px;
}
.scrollCarrot {
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 9999;
	font-size: 40px;
	color: white;
}
.glyphicon-menu-down {
	margin: auto;
	animation-name: float
}
.secHeaderContainer {
  margin: auto;
  padding: 2px;
  border-radius: 10px;
  margin-bottom: 10px;
  -webkit-box-shadow: 5px 10px 5px black;
  -moz-box-shadow: 5px 10px 5px black;
  box-shadow: 5px 10px 5px black;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#035fab+0,0b5187+40,023966+100 */
  background: rgb(3,95,171); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(3,95,171,1) 0%, rgba(11,81,135,1) 40%, rgba(2,57,102,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(3,95,171,1) 0%,rgba(11,81,135,1) 40%,rgba(2,57,102,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(3,95,171,1) 0%,rgba(11,81,135,1) 40%,rgba(2,57,102,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#035fab', endColorstr='#023966',GradientType=0 ); /* IE6-9 */
 	
}
.img-responsive {
  -webkit-box-shadow: 10px 15px 10px black;
  -moz-box-shadow: 10px 15px 10px black;
  box-shadow: 10px 15px 10px black;
 
}
.lightshadow {
  -webkit-box-shadow: 0 3px 5px black;
  -moz-box-shadow: 0 3px 5px black;
  box-shadow: 0 3px 5px black;
}
.contentBox {
	color: white;
}
.rounded {
	border-radius: 5px;
}
.expandHover {
	border-radius: 110px;
}
#footer {
	width: 100%;
    color: white;
    font-size: 12px;
    text-align: center;
    border-width: 2px 0px 0px 0px;
    border-style: solid;
    border-color: black;
    min-height: 100px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b3b3b+0,070707+99 */
background: rgb(59,59,59); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(59,59,59,1) 0%, rgba(7,7,7,1) 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(59,59,59,1) 0%,rgba(7,7,7,1) 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(59,59,59,1) 0%,rgba(7,7,7,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#070707',GradientType=0 ); /* IE6-9 */

}
#landingView {
  background-image: url('../landingbackground.jpg');
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  -moz-background-attachment: fixed;
  -o-background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  -webkit-background-position: center;
  -moz-background-position: center;
  -o-background-position: center;
  width: 100%; 
  min-height: 550px;
  text-align: center;
  color: white;
  overflow: hidden;
}
.contentArea {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
  text-align: center;
  color: white;
  margin-top: -25px;
  font-size: 20px;
  padding: 25px;
  min-height: 500px;
}
.textArea {
	width: 80%;
	font-size: 22px;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
.roundImageContainer {
  margin: auto;
  width: 250px;
  height: 250px;
  border-radius: 125px;
  margin-top: -75px;
  overflow: hidden;
  border-style: ridge;
  border-color: #005795;
  border-width: 15px;
  -webkit-box-shadow: 10px 15px 10px black;
  -moz-box-shadow: 10px 15px 10px black;
  box-shadow: 10px 15px 10px black;
  background-color: #005795;
  transition: box-shadow 2s;
  -webkit-transition: box-shadow 2s;
}
.roundImageContainer:hover {
  -webkit-box-shadow: 0px 0px 20px 20px white;
  -moz-box-shadow: 0px 0px 20px 20px white;
  box-shadow: 0px 0px 20px 20px white;
}
.projectsList {
	min-height: 400px
}
.loadingPage {
	position: fixed;
	width: 100%;
	background-color: #005795;
	z-index: 9999;
	height: 100%;
	top: 0;
}
.loadingGif{
	margin-top: 120px;
}
.upDownBorder {
	border-width: 10px 0px 10px 0px;
	border-style: ridge;
	border-color: #005795;
}
.roundImageText {
  text-align: center;
  color: #007abe;
  font-size: 20px;
  text-shadow: 2px 2px black;
  font-family: 'Nunito', sans-serif;
  padding-top: 10px;
}
.keyServices {
  padding-bottom: 25px;
}
.topBlackBorder {
  border-style: groove;
  border-width: 15px 0px 0px 0px;
  border-color: #005795;
}
.serviceSubtext {
	font-size: 18px;
	color: white;
	text-shadow: 0px 0px black;
	font-family: 'Nunito', sans-serif;
}
.bottomBorder {
	border-style: groove;
	border-width: 0px 0px 10px 0px;
	border-color: #005795;
}
.dividerLine {
	width: 60%;
	margin: auto;
	height: 2px;
	padding-top: 15px;
	margin-bottom: 1px;
	border-style: solid;
	border-width: 0px 0px 2px 0px;
	border-color: rgba(255, 255, 255, 0.4);
}
.dividerLine.two {
	width: 30%;
}
.dividerLine.three {
	width: 20%;
}
.dividerLine.four {
	width: 13%;
}
.silverGradient {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cedce7+0,596a72+100;Grey+3D+%231 */
background: rgb(206,220,231); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */

}
#customerQuotes {
  width: 100%;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#035fab+0,0b5187+40,023966+100 */
background: rgb(3,95,171); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(3,95,171,1) 0%, rgba(11,81,135,1) 40%, rgba(2,57,102,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(3,95,171,1) 0%,rgba(11,81,135,1) 40%,rgba(2,57,102,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(3,95,171,1) 0%,rgba(11,81,135,1) 40%,rgba(2,57,102,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#035fab', endColorstr='#023966',GradientType=0 ); /* IE6-9 */

  color: white;
  height: 200px;
  margin-bottom: 25px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}
.cyanGradient {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#035fab+0,0b5187+40,023966+100 */
background: rgb(3,95,171); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(3,95,171,1) 0%, rgba(11,81,135,1) 40%, rgba(2,57,102,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(3,95,171,1) 0%,rgba(11,81,135,1) 40%,rgba(2,57,102,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(3,95,171,1) 0%,rgba(11,81,135,1) 40%,rgba(2,57,102,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#035fab', endColorstr='#023966',GradientType=0 ); /* IE6-9 */

}
.quote {
  padding-top: 50px;
}
.greyTextBox{
	color: black;
	padding: 15px;
	border-radius: 10px;

}
.textSection {
      color: white;
      font-size: 20px;
    }

.flexBox {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-align: center;
  color: white;
  font-size: 16px;
}
strong {
	color: #007abe;
	font-weight: bold;
	text-shadow: 1px 1px black;
}
.container-fluid {
	overflow: hidden;
}
.mainHeader {
  font-family: 'Oswald', sans-serif;
  font-size: 80px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding: 5px 0px 15px 0px;
  margin-top: 10px;
  margin-bottom: 10px;

}
.projectImage {
	border-width: 5px !important;
}
.projectImage:not(.active):hover {
	border-style: groove !important;
}
#mainHeaderContainer {
  height: 100px;
  z-index: 8000;
}
h4 {
	color: #007abe;
	text-shadow: 2px 2px black;
}
.socialLogos {
	margin: auto;
	padding: 35px;
}
.socialLogos2 {
	margin: auto;
	padding-top: 25px;
}
.linkButton {
	margin: auto;
	margin-top: 25px;
	margin-bottom: 15px;
	font-size: 20px;
}
.bottom {
	position: inherit;
	bottom: 0px;
}
.socialIcon {
	margin: 10px;
}
.socialImg {
	height: 60px;
}
.replacementImg {
	display: none;
}
.replacementImg2 {
	display: none;
}
.carouselImg {
	height: 300px;
}
.dropup {
	display: none;
}
.headerImage {
	min-height: 250px;
	width: 100%;
	background-size: cover;
}
.mobileLogo {
	display: none;
	width: 90%;
	margin-top: 200px;
	background-color: rgba(10, 10, 10, 0.6);
	padding: 5px 0px 5px 5px;
	border-radius: 5px;
}
.carouselHeader {
	border-radius: 10px 10px 0px 0px;
	margin-bottom: 0px;
}
.projectPhotos {
	border-radius: 0px 0px 10px 10px !important;
}
.projectImage {
	max-width: 500px;
	margin: auto;
}
.socialImg2{
	height: 30px;
}
.linkButton {
	display: none;
}
#linkPopup {
	position: fixed;
	background-color: gray;
	width: 100%;
	z-index: 99999;
}
.closeButton:hover {
   color: gray;
   cursor: pointer;
}
 .closeButton {
  background: rgb(69,72,77); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
  border-radius: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  color: white;
  font-size: 26px;
}
.closePopup {
	margin: 10px;
}





.footerLogo{
   margin: auto;
}
@-webkit-keyframes float {
	0% {
		-webkit-transform: translateY(0px);
	}
	50% {
		-webkit-transform: translateY(-10px);
	}
	100% {
		-webkit-transform: translateY(0px);
	}
}
@keyframes float {
	0% {
		transform: translateY(0px);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0px);
	}
}
@-webkit-keyframes bounceInRight {
            0% {
               opacity: 0;
               -webkit-transform: translateX(1500px);
            }
            60% {
               opacity: 1;
               -webkit-transform: translateX(-30px);
            }
            80% {
               -webkit-transform: translateX(10px);
            }
            100% {
               -webkit-transform: translateX(0);
            }
         }
         
         @keyframes bounceInRight {
            0% {
               opacity: 0;
               transform: translateX(1500px);
            }
            60% {
               opacity: 1;
               transform: translateX(-30px);
            }
            80% {
               transform: translateX(10px);
            }
            100% {
               transform: translateX(0);
            }
         }
         @-webkit-keyframes bounceInLeft {
            0% {
               opacity: 0;
               -webkit-transform: translateX(-1500px);
            }
            60% {
               opacity: 1;
               -webkit-transform: translateX(30px);
            }
            80% {
               -webkit-transform: translateX(-10px);
            }
            100% {
               -webkit-transform: translateX(0);
            }
         }
         
         @keyframes bounceInLeft {
            0% {
               opacity: 0;
               transform: translateX(-1500px);
            }
            60% {
               opacity: 1;
               transform: translateX(30px);
            }
            80% {
               transform: translateX(-10px);
            }
            100% {
               transform: translateX(0);
            }
         }
         @-webkit-keyframes bounceInBottom {
            0% {
               opacity: 0;
               -webkit-transform: translateY(1500px);
            }
            60% {
               opacity: 1;
               -webkit-transform: translateY(-30px);
            }
            80% {
               -webkit-transform: translateY(10px);
            }
            100% {
               -webkit-transform: translateY(0);
            }
         }
         
         @keyframes bounceInBottom {
            0% {
               opacity: 0;
               transform: translateY(1500px);
            }
            60% {
               opacity: 1;
               transform: translateY(-30px);
            }
            80% {
               transform: translateY(10px);
            }
            100% {
               transform: translateY(0);
            }
         }
         @keyframes expandIn {
         	0% {
         		opacity: 0;
         		transform: scale(0.01);
         	}
         	100% {
         		opacity: 1;
         		transform: scale(1);
         	}
         }
         @keyframes expanded {
         	0% {
         		transform: scale(1);
         	}
         	100% {
         		transform: scale(1.2);
         	}
         }
         @keyframes shrink {
         	0% {
         		transform: scale(1.2);
         	}
         	100% {
         		transform: scale(1);
         	}
         }
         @keyframes headerTransfer {
         	0% {
         		transform: scale(1) translateX(0px) translateY(0px);
         		opacity: 1;
         	}
         	100% {
         		transform: scale(0.3) translateX(-700px) translateY(-200px);
         		opacity: 0;
         	}
         }
         @keyframes fadeIn {
         	0% {
         		opacity: 0;
         	}
         	100% {
         		opacity: 1;
         	}
         }
         .fadeIn {
         	animation-name: fadeIn;
         	animation-duration: 2s;
            animation-fill-mode: both;
         }
         .headerTransfer {
         	animation-name: headerTransfer;
         	animation-duration: 2s;
            animation-fill-mode: both;
         }
         .shrink {
         	animation-name: shrink;
         	animation-duration: 1s;
         }
         .expanded {
         	animation-name: expanded;
         	animation-duration: 1s;
         }
         .expandIn {
         	animation-name: expandIn;
         	animation-duration: 2s;
            animation-fill-mode: both;

         }
         .float {
         	-webkit-animation-name: float;
            animation-name: float;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
         }
         .bounceInRight {
            -webkit-animation-name: bounceInRight;
            animation-name: bounceInRight;
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
         }
         .bounceInBottom {
            -webkit-animation-name: bounceInBottom;
            animation-name: bounceInBottom;
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
         }
         .bounceInLeft {
            -webkit-animation-name: bounceInLeft;
            animation-name: bounceInLeft;
            -webkit-animation-duration: 2s;
            animation-duration: 2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
         }


    @media screen and (max-width: 830px) {
    	.contentArea {
    		font-size: 16px;
    	}
    	.removeableImg {
      		display: none;
     	}
     	.replacementImg {
     		display: initial;
     	}
    }
    @media screen and (max-width: 992px) {
      .roundImageText {
        float: right;
        width: 50%;
      }
      .roundImageContainer {
        float: left;
        margin: 13px 0px 25px 13px;
      }
      #topCircle {
        margin-top: -55px;
      }
      .secondText {
        padding-top: 55px;
      }
      .keyServiceContainer {
        border-style: groove;
        border-width: 2px 0px 0px 0px;
        border-color: rgb(20, 20, 20);
   
      }
      .secContainer {
        clear: both;
      }
      .contentBox {
        padding-bottom: 25px;
      }
    }
    @media screen and (max-width: 600px) {
    	.removeableImg2 {
    		display: none;
    	}
    	.replacementImg2 {
    		display: initial;
    	}
    	.socialLogos {
    		display: none;
    	}
    	.linkButton {
    		display: initial;
    	}
    }
    @media screen and (max-width: 555px) {
      .roundImageText {
        float: none;
        width: 100%;
      }

      .roundImageContainer {
        float: none;
        margin: auto;
      }
      .keyServiceContainer {
      	padding-bottom: 30px
      }
      .secondText {
      	padding-top: 10px;
      }
      .secContainer {
        padding-top: 15px;
      }
      #customerQuotes {
        height: 250px;
      }
      #specialists {
      	display: none;
      }
    }
    @media screen and (max-width: 420px) {
      #mainHeader {
        padding-top: 100px;
      }
      .homeLogo {
      	display: none;
      }
      .mobileLogo {
      	display: initial;
      }
      .contentBox {
        margin: 5px;
      }
      #landingView {
        min-height: 600px;
      }
      .keyServiceContainer {
      	padding-bottom: 40px
      }
    }
    @media screen and (min-width: 1200px){

      .navbar-button1 {
        font-size: 18px;
      }
    }


